<article class="product-card">
    <a href="{{ url }}">

        {{ if gallery }}
            {{ gallery limit="1" }}
                <div class="product-media">
                    <img src="{{ url }}" alt="{{ alt ?? title }}" loading="lazy">
                </div>
            {{ /gallery }}
        {{ else }}
            <div class="product-media-empty">Ingen bilde</div>
        {{ /if }}

        <div class="product-body">
            <h3 class="product-title">{{ title }}</h3>

           <!-- {{ if short_description }}
                <p class="product-meta">{{ short_description }}</p>
            {{ /if }} 
            -->

            <div class="product-price">{{ price }}</div>
        </div>

    </a>
</article>
