<!--
{{#
    Article structured data. Include on the article detail template.
    Author/publisher reference the site-wide Organization by @id.
#}}
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@graph": [
        {
            "@type": "BlogPosting",
            "mainEntityOfPage": { "@type": "WebPage", "@id": {{ permalink | json_ld }} },
            "headline": {{ title | json_ld }},
            {{ if lead }}"description": {{ lead | json_ld }},{{ elseif seo_description }}"description": {{ seo_description | json_ld }},{{ /if }}
            {{ if featured_image }}"image": [{{ featured_image }}"{{ site:url }}{{ url }}"{{ unless last }},{{ /unless }}{{ /featured_image }}],{{ /if }}
            "datePublished": "{{ date format='c' }}",
            {{ if updated_at }}"dateModified": "{{ updated_at format='c' }}",{{ /if }}
            "author": { "@id": "{{ site:url }}/#organization" },
            "publisher": { "@id": "{{ site:url }}/#organization" }
        },
        {
            "@type": "BreadcrumbList",
            "itemListElement": [
                { "@type": "ListItem", "position": 1, "name": "Hjem", "item": "{{ site:url }}" },
                { "@type": "ListItem", "position": 2, "name": "Blogg", "item": "{{ site:url }}/blogg" },
                { "@type": "ListItem", "position": 3, "name": {{ title | json_ld }}, "item": {{ permalink | json_ld }} }
            ]
        }
    ]
}
</script>
-->