<footer class="site-footer">
    <div class="container">

        <div class="footer-grid">

            <div class="footer-brand">
                <a href="/" class="footer-brand-top">
                    
                    <p class="footer-brand-name">Gulvverket</p>
                </a>
                <!--<p class="footer-lead">Produktene vi selger er produkter vi selv bruker og anbefaler gjennom daglig
                    arbeid med gulvfornying hos <a href="https://haugesundgulvservice.no">Haugesund Gulvservice</a>.</p>-->
            </div>

            <div>
                <h3 class="footer-title">Hurtiglenker</h3>
                <ul class="footer-links">
                    <li><a href="/produkter">Produkter</a></li>
                    <li><a href="/blogg">Blogg</a></li>
                    <!--<li><a href="/faq">FAQ</a></li>-->
                    <li><a href="/om-oss">Om oss</a></li>
                    <li><a href="/kontakt">Kontakt</a></li>
                </ul>
            </div>

            <div>
               <!-- <h3 class="footer-title">Juridisk</h3>
                <ul class="footer-links">
                    <li><a href="/vilkar">Vilkår for kjøp</a></li>
                    <li><a href="/angrerett">Angrerett og retur</a></li>
                    <li><a href="/personvern">Personvernerklæring</a></li>-->
                </ul>
            </div>

            <div>
                <h3 class="footer-title">Kontakt</h3>
                <ul class="footer-links">
                    <li><a href="mailto:{{ brand:email }}">{{ brand:email }}</a></li>
                    <li style="margin-top: 1rem;">{{ brand:address }}</li>
                </ul>
            </div>

        </div>

        <div class="footer-bottom">
            © {{ now format="Y" }} Gulvverket AS.
        </div>

    </div>
</footer>